.header_card {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  gap: 1rem;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
}

.header_icon {
  width: 1.3em;
  height: 1.3em;
}
