<app-menu>
  <ng-container trigger>
    <div
      class="user_avatar"
      [style]="{
        background: user()?.color
      }"
    >
      {{ user()?.firstName?.charAt(0) }}
    </div>
  </ng-container>
  <ng-container items>
    @if (userName) {
    <button mat-menu-item disabled class="user_info">
      <p class="user_name">{{ userName }}</p>
      <p>{{ companyName }}</p>
    </button>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </ng-container>
</app-menu>
