@use "@angular/material" as mat;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
}

html.dark-mode {
  color-scheme: dark;
}

.main_layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main_background {
  background: url("/img/logo_bg_black.svg") no-repeat right -50px bottom -50px
      fixed,
    url("/img/logo_bg_black.svg") no-repeat left -50px top -50px fixed;
  background-size: 500px 500px, 500px 500px;

  @include dark {
    background-image: url("/img/logo_bg_white.svg"),
      url("/img/logo_bg_white.svg");
  }
}

.error_snackbar.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: var(--mat-sys-error-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-background);
  --mat-snack-bar-button-color: var(--mat-sys-on-background);
}

.success_snackbar.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: var(--mat-sys-primary-container);
  --mdc-snackbar-supporting-text-color: var(--mat-sys-on-background);
  --mat-snack-bar-button-color: var(--mat-sys-on-background);
}
