<main class="main_layout main_background main_content">
  <mat-card class="not_found_card">
    <mat-card-header>
      <mat-card-title class="not_found_title"
        ><h1>Not Found!</h1></mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="not_found_content">
      <p>
        Sorry, we could not find the page you are searching for. It looks like
        the page you're looking for doesn't exist or has been moved.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button routerLink="/" mat-flat-button>Go home</button>
    </mat-card-actions>
  </mat-card>
</main>
