.menu_trigger {
  min-width: unset;
  height: fit-content;
  padding: 0.5rem;

  ::ng-deep mat-icon {
    margin: 0;
    font-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    display: block;
  }

  &:has(.material-icons, mat-icon, [matButtonIcon]) {
    width: fit-content;
    padding: 0.5rem;
  }
}
