.theme_menu_button:has(.material-icons, mat-icon, [matButtonIcon]) {
  width: fit-content;
  padding: 0.5rem;
  min-width: unset;
}

.theme_menu_button > mat-icon {
  margin: 0;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
